/* Assuming this is in floorplans.module.css */
.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
  }
  
  .contentWrapper {
    flex-grow: 1;
    width: 88%;
    height: 85vh;
  }
  
  .unityIframe {
    padding-top: 1vh;
    width: 100%;
    height: 100%; 
  }
  